body {
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    background-color: #eee;
}

p.title { font-size:24px; color:#333; }


div.board {  }
table.table { border-collapse:collapse; border:3px solid grey;
    margin:0 auto; }

td.foodCell { background:yellow; }
td.headCell { background:green; }
td.tailCell { background:white; }
td.groundCell { background:black; width:8px; height:8px; }

div.info {}
span.score { margin: 0 12px; }
span.level { margin: 0 12px; }
span.highest { margin: 0 12px; }

button { font-family:monospace; padding:4px; }

div.navigation {  }
button.left { border:none; padding:4px 6px;}
button.play { border:none;}
button.up { border:none; padding:4px 6px;}
button.right { border:none; padding:4px 6px;}
button.down { border:none; padding:4px 6px;}

div.control { margin:16px 8px; }
button.start {}
button.stop {}
button.reset {}